@import "_mixins.scss";
@import "_media-queries.scss";

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header {
    background-image: url("../img/head.png");
    height: 800px;
    width: 1440px;
    background-repeat: no-repeat;
    font-family: 'Fraunces', serif;
    .container_nav {
        display: flex;
        justify-content: space-between;
        margin: 34px 48px 105px 40px; 
    }
        img{
            width: 170px;
            height: 33px;
            color: white;
        }
        ul {
            @include ul_flex(47px);
            
            a{
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                font-family: 'Barlow', sans-serif;
                &:hover{
                    color: #5B636D;
                }
                &#contact{
                    background-color: white;
                    border-radius: 28px;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 25px;
                    padding: 16px 30px 15px 32px;
                    border: 0;
                    color: black;
                    font-family: 'Fraunces', serif;
                    &:hover {
                        color: white;
                        background-color: rgba($color: white, $alpha: 0.25);
                    }
                }
            }
        }
    h1 {
        font-size: 56px;
        font-weight: 900;
        line-height: 69px;
        color: white;
        text-align: center;
        letter-spacing: 8.75px;
    }
    svg {
        fill: #FFFF;
        height: 100px;
        z-index: 1;
    }
}

.section {
    width: 1440px;
    background: #F2F2F2;
    &__article{
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 600px;
        &__text {
            height: 100%;
            width: 445px;
            display: flex;
            flex-direction: column;
            text-align: left;
            h2 {
                font-family: 'Fraunces', serif;
                font-weight: 900;
                font-size: 40px;
                line-height: 49px;   
                color: #24303E;
                margin-top: 0;
                margin-bottom: 32px;
            }
            p {
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                color: #808397;
                margin-bottom: 40px;
                width:100%;
                margin-top: 0;
            }
            a {
                font-family: 'Fraunces', serif;
                font-weight: 900;
                font-size: 15px;
                line-height: 25px; 
                color: #24303E; 
                letter-spacing: 1px; 
                text-decoration: none;       
            }        }
        &__img {
            height: 100%;
            &--1 {
                background-image: url('../img/oeuf.png');
            }
            &--2 {
                background-image: url('../img/verre.png');
            }
            &--3 {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background-image: url('../img/cerise.png');
                h2 {
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    font-size: 28px;
                    line-height: 35px; 
                    color: #24554A; 
                    margin-top: 0;
                    margin-bottom: 27px;;                      
                }
                p {
                    font-family: 'Barlow', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 27px;
                    text-align: center;
                    color: #3E7467;
                    margin-bottom: 59px;
                    width: 339px;
                    margin-top: 0;
                }
            }
            &--4 {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background-image: url('../img/mandarine.png');
                h2{
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    font-size: 28px;
                    line-height: 35px; 
                    color: #052C3B;  
                    opacity: 0.75; 
                    margin-top: 0;
                    margin-bottom: 27px;;
                }
                p {
                    font-family: 'Barlow', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 27px;
                    text-align: center;
                    color: #19536C;
                    margin-bottom: 59px;
                    width: 339px;
                    margin-top: 0;
                }
            }
        }
    }
    &--client {   
        background: #F2F2F2;
        padding: 160px 165px;
        #container_ul{
            height: 457px;
            width: 1110px;
            ul {
                @include ul_flex(30px);
                text-align: center;
                margin: 0px;
                img {
                    margin-bottom: 58px;
                }
                p {
                    margin-top: 0;
                    margin-bottom: 69px;
                    font-family: 'Barlow', sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 32px;
                    color:#5B636D;
                }
            }
            h3 {
                text-align: center;
                font-family: 'Fraunces', serif;
                font-size: 20px;
                color: #A7AAAD;
                margin-bottom: 81px;
                margin-top: 0px;
                letter-spacing: 5px;
            }
            h4{
                margin-top: 0px;
                margin-bottom: 9px;
                color: #24303E;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                font-size: 18px;
                line-height: 22px;
            }
            h5{
                margin: 0;
                font-family: 'Barlow', sans-serif;
                color: #A7AAAD;
                font-weight: 600;
                font-size: 14px;
                line-height: 25px;
            }
       }
    }
    .container_image{
        display: flex;
        flex-wrap: wrap;
    }
}

footer {
    background-color: #90D4C6;
    width: 1440px;
    height: 350px;
    #container_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding-top: 72px;  
        svg{
            margin-bottom: 40px;
        }  
        #ul_links{
            @include ul_flex(57px);
            margin-bottom: 88px;
            margin-top: 0px;
            a { 
                color: #2C7566;
                text-decoration: none;
                font-family: 'Barlow', sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                &:hover{
                    color: white;
                }
            }
        }
        
        #ul_icons{
            @include ul_flex(28px);
            margin-top: 0px;
            svg{
                fill: #2C7566;
                &:hover{
                    fill: #FFFF;
                }
                path {
                    &:hover{
                        fill: #FFFF;
                    }
                }
            }   
        }
           
    }
}
    
    







    
